<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Flickr Photo Page</h1>
<h2>Here are some of our pictures...</h2>

<img src="http://farm2.staticflickr.com/1909/43289625560_31f6309a12.jpg"></img>
<img src="http://farm2.staticflickr.com/1955/30131952017_b057dd127b.jpg"></img>
<img src="http://farm2.staticflickr.com/1969/30132175597_be81e484a5.jpg"></img>
<img src="http://farm2.staticflickr.com/1971/30165278177_23e6aa75a1.jpg"></img>



</body>
</html>